@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://db.onlinewebfonts.com/c/0c724f6aa457310440cf8949c615cbd7?family=Star+Jedi');

html {
  background-image: url('./images/swbg.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-color: black;
}

body{
  margin: 0;
  padding: 0;
  
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: auto;
}

#mainTitle {
  color: yellow;
  font-size: 60px;
  font-family: "Star Jedi";
}

#infoSection {
  color: white;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info {
  font-size: 17px;
}

#searchTitle {
  color: white;
  font-family: "Star Jedi";
}

#searchBar {
  min-width: 300px;
  height: 30px;
  text-decoration: none;
  text-align: center;
  border: 1px solid white;
  border-radius: 5px;
  background-color: black;
  color: white;
}

#searchButton {
  background-color: black;
  border: 1px solid yellow;
  border-radius: 5px;
  height: 30px;
  width: 100px;
  color: white;
  margin-left: 10px;
}

#searchButton:hover {
  background-color: yellow;
  color: black;
  cursor: pointer;
}